<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-alpha.22/dist/css/tabler.min.css">
		<style>
			body {
				background-color: white;
			}
		</style>
		<title>KC2: Koken Compute Cloud</title>
	</head>
	<body>
		<header class="navbar navbar-dark">
			<div class="container-xl">
				<p class="navbar-brand navbar-brand-autodark mb-0">Koken Compute Cloud</p>
			</div>
		</header>
		<div class="content">
			<div class="container-xl">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/@tabler/core@1.0.0-alpha.22/dist/js/tabler.min.js"></script>
	</body>
</html>
