{% extends "base.html" %}

{% block content %}
<div class="card">
	<div class="card-header">
		<h1 class="card-title">インスタンス ({{ instances | length }})</h1>
	</div>
	<div class="card-body text-end">
		<a href="/instances" class="btn">↻</a>
		<a href="/instances/new" class="btn btn-primary ml-auto">作成</a>
	</div>
	<table class="table card-table">
		<thead>
			<th>状態</th>
			<th>インスタンス名</th>
			<th>ステータスチェック</th>
			<th>IPv4アドレス</th>
			<th>種別</th>
			<th></th>
		</thead>
		<tbody>
			{% for instance in instances %}
			<tr>
				<td>
					{% if instance.status == "Running" %}
					<span class="badge rounded-pill bg-success">
					{% elif instance.status == "Stopped" %}
					<span class="badge rounded-pill bg-secondary">
					{% else %}
					<span class="badge rounded-pill">
					{% endif %}
						{{ instance.status | lower }}
					</span>
				</td>
				<td>{{ instance.name }}</td>
				<td>
					<!-- Download SVG icon from http://tabler-icons.io/i/alert-circle -->
					<svg xmlns="http://www.w3.org/2000/svg" class="icon d-none" data-id="alert-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
						stroke="var(--tblr-yellow)" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none" />
						<circle cx="12" cy="12" r="9" />
						<line x1="12" y1="8" x2="12" y2="12" />
						<line x1="12" y1="16" x2="12.01" y2="16" />
					</svg>
					<!-- Download SVG icon from http://tabler-icons.io/i/circle-check -->
					<svg xmlns="http://www.w3.org/2000/svg" class="icon d-none" data-id="circle-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
						stroke="var(--tblr-green)" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none" />
						<circle cx="12" cy="12" r="9" />
						<path d="M9 12l2 2l4 -4" />
					</svg>
					<span data-id="text">
					{% if instance.status != "Stopped" %}
						Loading...
					{% endif %}
					</span>
				</td>
				<td>
					<ul class="list-group mb-0" style="list-style-type: none;">
						{% for address in instance.addresses %}
						<li>{{ address.address }}/{{ address.netmask }}</li>
						{% endfor %}
					</ul>
				</td>
				<td>
					{% if instance.type == "container" %}
						コンテナ
					{% elif instance.type == "virtual-machine" %}
						仮想マシン
					{% else %}
						{{ instance.type }}
					{% endif %}
				</td>
				<td class="text-right">
					<span class="dropdown">
						<button class="btn btn-sm dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">操作</button>
						<div class="dropdown-menu dropdown-menu-end" style="margin: 0px;">
							<form action="/instances/{{ instance.name }}/start" method="POST" style="display: contents;">
								{% if instance.status == "Running" %}
								<button class="dropdown-item" disabled>
								{% else %}
								<button class="dropdown-item">
								{% endif %}
									開始
								</button>
							</form>
							<form action="/instances/{{ instance.name }}/stop" method="POST" style="display: contents;">
								{% if instance.status == "Stopped" %}
								<button class="dropdown-item" disabled>
								{% else %}
								<button class="dropdown-item">
								{% endif %}
									停止
								</button>
							</form>
							<form action="/instances/{{ instance.name }}/restart" method="POST" style="display: contents;">
								{% if instance.status == "Stopped" %}
								<button class="dropdown-item" disabled>
								{% else %}
								<button class="dropdown-item">
								{% endif %}
									再起動
								</button>
							</form>
							<form action="/instances/{{ instance.name }}/destroy" method="POST" style="display: contents;">
								{% if instance.status == "Running" %}
								<button class="dropdown-item btn-outline-danger" disabled>
								{% else %}
								<button class="dropdown-item btn-outline-danger">
								{% endif %}
									消去
								</button>
							</form>
						</div>
					</span>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<script async>
async function loadStatus($row) {
	const instanceName = $row.cells[1].textContent
	const response = await fetch(`/instances/${instanceName}/status`)
	const status = await response.json()

	const $statusCheckCell = $row.cells[2]
	const $checkIcon = $statusCheckCell.querySelector("[data-id=circle-check]")
	const $warningIcon = $statusCheckCell.querySelector("[data-id=alert-circle]")
	const $text = $statusCheckCell.querySelector("[data-id=text]")
	if (status === "done") {
		$checkIcon.classList.remove("d-none")
		$text.textContent = "利用可能"
	} else if (status === "running") {
		$warningIcon.classList.remove("d-none")
		$text.textContent = "初期化中..."
	} else if (status === null) {
		$text.textContent = ""
	} else {
		$text.textContent = "unknown"
	}
}
const $table = document.querySelector("table")
const $bodyRows = Array.from($table.tBodies[0].rows)
for (const $row of $bodyRows) {
	if ($row.cells[0].textContent.trim() === "stopped") {
		continue
	}
	// do not await for parallel loading
	loadStatus($row)
}
</script>
{% endblock %}
