{% extends "base.html" %}

{% block content %}
<div class="card">
	<div class="card-header">
		<h1 class="card-title">インスタンス作成</h1>
	</div>
	<div class="card-body">
		<form action="/instances" method="POST">
			<div class="form-group row mb-3">
				<label for="os" class="form-label col-3 col-form-label">
					OS
				</label>
				<div class="col">
					<select name="os" class="form-select">
						<option disabled selected>Loading...</option>
					</select>
				</div>
			</div>
			<div class="form-group row mb-3">
				<label for="instance_type" class="form-label col-3 col-form-label">
					種別
				</label>
				<div class="col">
					<select name="instance_type" class="form-select">
						<option selected value="container">コンテナ（推奨）</option>
						<option value="virtual-machine">仮想マシン（上級者向け）</option>
					</select>
				</div>
			</div>
			<div class="form-group row mb-3">
				<label for="type" class="form-label col-3 col-form-label">
					vCPU
					<small>※仮想マシンのみ</small>
				</label>
				<div class="col">
					<input type="number" name="vcpu" value="1" min="1" max="{{ cpu_count }}" disabled class="form-control">
				</div>
			</div>
			<div class="form-group row mb-3">
				<label for="type" class="form-label col-3 col-form-label">
					メモリ
					<small>※仮想マシンのみ</small>
				</label>
				<div class="col">
					<div class="input-group">
						<input type="number" name="memory" value="1024" min="1" max="{{ available_memory }}" disabled class="form-control">
						<span class="input-group-text">MB</span>
					</div>
				</div>
			</div>
			<div class="form-group row mb-3">
				<label for="name" class="form-label col-3 col-form-label">
					インスタンス名
				</label>
				<div class="col">
					<input name="name" pattern="[a-zA-Z][a-zA-Z1-9-]*" required class="form-control">
				</div>
			</div>
			<div class="form-group row mb-3">
				<label for="default_user_name" class="form-label col-3 col-form-label">
					初期ユーザー名
				</label>
				<div class="col">
					<input name="default_user_name" required class="form-control">
				</div>
			</div>
			<div class="form-group row">
				<label for="default_user_passwd" class="form-label col-3 col-form-label">
					初期ユーザーパスワード
				</label>
				<div class="col">
					<input name="default_user_passwd" required type="password" class="form-control">
				</div>
			</div>
			<div class="form-footer">
				<button type="submit" class="btn btn-primary">作成</button>
			</div>
		</form>
	</div>
</div>
<script async>
	(async () => {
		const $instanceTypeSelect = document.querySelector("select[name=instance_type]")
		const $vcpuInput = document.querySelector("input[name=vcpu]")
		const $memoryInput = document.querySelector("input[name=memory]")
		$instanceTypeSelect.addEventListener("change", (e) => {
			const instanceType = e.target.value
			if (instanceType === "virtual-machine") {
				$vcpuInput.disabled = false
				$memoryInput.disabled = false
			} else if (instanceType === "container") {
				$vcpuInput.disabled = true
				$memoryInput.disabled = true
			}
		})

		const response = await fetch("/images")
		const images = await response.json()
		const $imagesSelect = document.querySelector("select[name=os]")
		const df = new DocumentFragment()
		for (const image of images) {
			const $option = new Option(
				`${image.os} ${image.release_title}`,
				image.remote + ":" + image.aliases[0]
			)
			df.append($option)
		}
		$imagesSelect.replaceChildren(df)

	})()
</script>
{% endblock %}